.nm-play-list-view
{
    line-height: @nm-list-item-height;

    > li
    {
        padding-left: 16px;
        padding-right: 8px;
        text-overflow: ellipsis;

        span.icon
        {
            color: black;
        }
    }
}
