.nm-play-list-view
{
    line-height: @nm-list-item-height;
    padding-left: 32px;
    padding-right: 8px;

    > li
    {
        text-overflow: ellipsis;
    }
    // background-color: yellow;
    // > li
    // {
    //     height: @nm-list-item-height;
    //     text-overflow: ellipsis;
    // }
}
