/* Override NJU Theme */
@body-bg: #f9f9f9;
@font-size-h1: 28;

/* NN Theme */
@nm-separate-color: #c4c4c4;
@nm-selected-color: #e1e1e1;

@nm-list-item-height: 30px;

@nm-app-darker-bg: #f5f5f5;
@nm-app-color: #b02101;
@nm-app-header-height: 40px;
@nm-app-footer-height: 65px;
@nm-app-sidebar-width: 20%;
