.nju-table-view
{
    // table 默认这三个属性
    table-layout: fixed;
    border-collapse: collapse;

    tr
    {
        cursor: default;
    }
}

.nju-table-view.striped
{
    tbody
    {
        tr:nth-child(odd):not(.selected)
        {

            background: @nju-striped-color;
        }
    }
}
