.nju-table-view
{
    // table 默认这三个属性
    table-layout: fixed;
    border-collapse: collapse;
}

.nju-table-view.striped
{
    tr:nth-child(odd)
    {
        background: @nju-striped-color;
    }
}
